.directory
.DS_Store
*#
.#*
*.aux
*.log
*.bcf
*.run.xml
*.bbl
*.blg
*.synctex.gz
*.pyc
*.dvi
*.out.ps
*.ent
.Rhistory
.RData
Rplots.pdf
*~
__*
_region_.*
prv_*
_data*/
_region_.prv/
.auctex-auto/
auto/
fontconfig/
.backups/

/.quarto/
